.App {
    text-align: center;
  }
  
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
  }
  
  .App-header {
    background-color: #222;
    height: 185px;
    padding: 20px;
    color: white;
  }
  
  .App-title {
    font-size: 1.5em;
  }
  
  .App-intro {
    font-size: large;
  }

  .css-brand {
    width: 7rem;
  }
  .css-brand>div {
    text-shadow: 0px 3px 6px;
    margin: auto;
    font-weight: bolder;
    z-index: 4;
    color: darkslategray;
  }
.css-brand>span {
  z-index: 0;
    position: absolute;
    width: 2.5rem;
    height: 2.5rem;
    background-color: #29B6F6;
    border-radius: 50%;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}
.css-brand>span:nth-child(1) {
  z-index: 1;
  left: 1rem;
  background-color: #29B6F6;
}
.css-brand>span:nth-child(2) {
  z-index: 2;
  left: 2.25rem;
  background-color: rgba(147, 41, 246, 0.308);
}
.css-brand>span:nth-child(3) {
  z-index: 3;
  left: 3.5rem;
  background-color: rgba(246, 41, 103, 0.308);
}
  
  @keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }
  